# Don't include compiled python.
**/__pycache__
**/*.pyc

# Don't include text editor .swp files.
**/*.swp

# Don't include temp files
**/*.tmp
temp/

# Don't include qp packet files
**/*.qp

# Don't share logs with each other from the log directory. That could get tedious.
logs/system_*.*
logs/error_*.*
**/*.log

# Don't include specific testing files
**/inputSC16IS750.txt
**/outputSC16IS750.txt

# Don't include specific functional files
**/BOOTTIME
graveyard/
