# Don't include compiled python.
*/__pycache__
**/*.pyc

# Don't include text editor .swp files.
**/*.swp

# Don't include temp files
**/*.tmp

# Don't include qp packet files
**/*.qp

# Don't share logs with each other from the log directory. That could get tedious.
logs/system_*.csv
logs/error_*.csv
